.gridContainer {
    display: grid;
    width: 600px;
    height: 600px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px grey;

}

.box {
    box-sizing: content-box;
    background-color: white;
}

.error {
    font-size: 36px;
}

.gridContainer2 {
    display: flex;
    margin-top: 20px;
    background-color: white;
    width: 600px;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.toggleLines {
    border: 1px solid rgba(0, 0, 0, .25);
    
}

.buttons {
    display: grid;
    height: 40px;
    width: 400px;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
}

.colorButton {
    border: none;
    box-sizing: content-box; 
}

#redButton {
    background-color: red;
}
#orangeButton {
    background-color: orange;
}
#yellowButton {
    background-color: yellow;
}
#greenButton {
    background-color: green;
}
#blueButton {
    background-color: blue;
}
#pinkButton {
    background-color: pink;
}
#purpleButton {
    background-color: purple;
}
#blackButton {
    background-color: black;
}
#grayButton {
    background-color: gray;
}
#whiteButton {
    background-color: white;
}

#mainContainer {
    width: 600px;
    margin: auto;
} 

body {
    background: rgb(227, 252, 255)
}

#buttonsContainer {
    display: flex;
    margin-top: 20px;
}

#clearGrid {
    margin-left: 50px;
    border-radius: 20px;
    width: 100px;
    background-color: white;
    border: 2px solid rgb(255, 170, 220);
    color: rgb(255, 170, 220);
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

#clearGrid:hover {
    background-color: rgb(255, 170, 220);
    color: white;
}